<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="HidistroSqlServer"/>

  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXPQc5+gSp06aDylC1ORu8gQAAAACAAAAAAAQZgAAAAEAACAAAAAAXomxFvTU0CZB5bsCbfCbtZdZdUZw4ga+zkm3kPN+SwAAAAAOgAAAAAIAACAAAACnjz3Lwff1P1dVdKHxD9zX0URG0xwkPPBN1Ujc7n2farABAAB7QqbE04JzGrkLf5JGwGZ9tW+NtnTBbfinxHaezO1VsG6olEZ5TzN6UR4aL1ZQifgyJcVe6boC3PTQSyIpiNgdBe9TYhN8cIjBtNeoAgx3fjrtfkSO0gNszPxfzfkwcJMa6rloSy6mgEhiEPOArekC7N88fGOOere52OOmKnoJ/L2bE82vdh7d/r7nBhuc7x/l9BXIOcrgou0ImJGe7BeUrH/u9fnUSXK5QidTpfNTXpgJq8E65HHjQDctVN2s0n/Qe61Kv5T//+cyrRyuwJBK5RoT7HtO4dq5xRqlTPu3CyQCjZfDQyxLMlioZ6niSnzNb/MEvO9X0kEMYlg0joburZrnN6s4JFV28grSpisRmbtVTt0izY37apZzyFynHg/IRF+nJ0leVICfw+cyi4yQUmG4eJ+hIt+3IzgtkmaeW1huPn3sq5JXmnrzNotSzJZbUqL6ckEYzM5hmwaNOPNJ7qiW7+Vm4UN2aoikOxvfMomihyXIVA2rVWCE31p4tGbcW8zdgfrqq5emYSLljO/IvoEA5T3Zu3cL6khtW2j5B52vO3esZif610mMhCqpY/1AAAAAQ8NGURP3tssDdXjCFTByIDncY7z5ujqptov4wJKwSSl7z4WGfzOu8f8D4mtqUzRTulTxnVoqhNMnbZy4z0ZRrw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  <appSettings>
    <add key="Kindeditor:BasePath" value="~/kindeditor/" />
    <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx" />
    <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx" />
    <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx" />
  </appSettings>
  <system.web>
    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="04961EA6E7B949D17BB308EE852BE53846B15123"
      decryptionKey="8950FFF4D8989300FA6864383BEAC2BF5DBD4F4A62F95D6D"
      validation="SHA1" decryption="3DES" />
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="false" validateRequest="false" autoEventWireup="false" />
    <!-- pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls"/>-->
    <trace enabled="false" pageOutput="false"/>
    <customErrors mode="Off"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="Shopadmin/PublishToTaoBaoHandler.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.PublishToTaoBaoHandler, Hidistro.UI.SaleSystem.CodeBehind"/>
      <add verb="*" path="SubmmitOrderHandler.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.SubmmitOrderHandler, Hidistro.UI.SaleSystem.CodeBehind"/>
      <add verb="*" path="ShoppingHandler.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ShoppingHandler, Hidistro.UI.SaleSystem.CodeBehind"/>
      <add verb="*" path="RegionHandler.aspx" type="Hidistro.UI.Common.Controls.RegionHandler, Hidistro.UI.Common.Controls"/>
      <add verb="*" path="UserStatisticeChart.aspx" type="Hidistro.UI.Common.Controls.UserStatisticeChart, Hidistro.UI.Common.Controls"/>
      <add verb="*" type="Hidistro.UI.Common.Controls.UploadHandler,Hidistro.UI.Common.Controls" path="uploadHandler.aspx"/>
      <add verb="*" path="PluginHandler.aspx" type="Hishop.Plugins.ConfigHandler, Hishop.Plugins"/>
      <add verb="*" path="ExpressData.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ExpressData, Hidistro.UI.SaleSystem.CodeBehind"/>
    </httpHandlers>
    <httpModules>
      <add name="Hidistro" type="Hidistro.Membership.Context.HiHttpModule, Hidistro.Membership.Context"/>
    </httpModules>
    <membership userIsOnlineTimeWindow="15" defaultProvider="SQLMembershipProvider">
      <providers>
        <add name="SQLMembershipProvider" type="Hidistro.Membership.ASPNETProvider.SqlMembershipProvider, Hidistro.Membership.ASPNETProvider" connectionStringName="HidistroSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" applicationName="Hidistro" maxInvalidPasswordAttempts="5" passwordAttemptWindow="999" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SQLRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".HishopRoles" cookieTimeout="90" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="true" cookieProtection="All" maxCachedResults="1000">
      <providers>
        <add name="SQLRoleProvider" type="Hidistro.Membership.ASPNETProvider.SqlRoleProvider, Hidistro.Membership.ASPNETProvider" connectionStringName="HidistroSqlServer" applicationName="Hidistro"/>
      </providers>
    </roleManager>
    <anonymousIdentification enabled="false"/>
    <authentication mode="Forms">
      <forms name=".Hidistro" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="UseCookies" slidingExpiration="true"/>
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost"/>
        <remove name="HttpGet"/>
        <remove name="HttpPostLocalhost"/>
        <remove name="Documentation"/>
        <remove name="Unknown"/>
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <httpRuntime maxRequestLength="40960" executionTimeout="360"></httpRuntime>
  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Hidistro.UI.Web.HiUsernameTokenManager" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
      </securityTokenManager>
      <timeToleranceInSeconds value="3600"/>
    </security>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
</configuration>
