<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	</configSections>

	<dataConfiguration defaultDatabase="HidistroSqlServer"/>

  <connectionStrings>
    <add name="HidistroSqlServer" connectionString="required" providerName="System.Data.SqlClient"/>
    <!--<add name="HidistroSqlServer" connectionString="server=112.101.64.236;database=fenxiao;uid=fenxiao;pwd=fenxiao!@#;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

	<appSettings>
  <add key="Kindeditor:BasePath" value="~/kindeditor/" />
  <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx" />
  <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx" />
  <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx" />
  <add key="Installer" value="false"/>
  </appSettings>

	<system.web>
		<!--<sessionState mode="Off" />-->
		<machineKey validationKey="07EB5D1961A9D086EDC177F21A3C333BC45616A6"
   decryptionKey="98EE112986A13BB9CD4A82BA1C16FE3B892314627E0CE923"
   validation="SHA1" decryption="3DES" />
		<pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="false"  validateRequest="false" autoEventWireup="false" pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls" />
		<trace enabled="false" pageOutput="false"/>
		<customErrors mode="Off" />
		<compilation debug="false" />

		<httpHandlers>
      <add verb="*" path="Shopadmin/PublishToTaoBaoHandler.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.PublishToTaoBaoHandler, Hidistro.UI.SaleSystem.CodeBehind"/>
			<add verb="*" path="SubmmitOrderHandler.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.SubmmitOrderHandler, Hidistro.UI.SaleSystem.CodeBehind"/>
			<add verb="*" path="ShoppingHandler.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ShoppingHandler, Hidistro.UI.SaleSystem.CodeBehind"/>
			<add verb="*" path="RegionHandler.aspx" type="Hidistro.UI.Common.Controls.RegionHandler, Hidistro.UI.Common.Controls"/>
			<add verb="*" path="UserStatisticeChart.aspx" type="Hidistro.UI.Common.Controls.UserStatisticeChart, Hidistro.UI.Common.Controls"/>
			<add verb="*" type="Hidistro.UI.Common.Controls.UploadHandler,Hidistro.UI.Common.Controls" path="uploadHandler.aspx" />
			<add verb="*" path="PluginHandler.aspx" type="Hishop.Plugins.ConfigHandler, Hishop.Plugins"/>
			<add verb="*" path="ExpressData.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ExpressData, Hidistro.UI.SaleSystem.CodeBehind"/>
		</httpHandlers>

		<httpModules>
			<add name="Hidistro" type="Hidistro.Membership.Context.HiHttpModule, Hidistro.Membership.Context"/>
		</httpModules>

		<membership userIsOnlineTimeWindow="15" defaultProvider="SQLMembershipProvider">
			<providers>
				<add name="SQLMembershipProvider" type="Hidistro.Membership.ASPNETProvider.SqlMembershipProvider, Hidistro.Membership.ASPNETProvider" connectionStringName="HidistroSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" applicationName="Hidistro" maxInvalidPasswordAttempts="5" passwordAttemptWindow="999" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>

		<roleManager defaultProvider="SQLRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".HishopRoles" cookieTimeout="90" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="true" cookieProtection="All" maxCachedResults="1000">
			<providers>
				<add name="SQLRoleProvider" type="Hidistro.Membership.ASPNETProvider.SqlRoleProvider, Hidistro.Membership.ASPNETProvider" connectionStringName="HidistroSqlServer" applicationName="Hidistro"/>
			</providers>
		</roleManager>

		<anonymousIdentification enabled="false"/>

		<authentication mode="Forms">
			<forms name=".Hidistro" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="UseCookies" slidingExpiration="true"/>
		</authentication>

		<webServices>
			<protocols>
				<remove name="HttpPost"/>
				<remove name="HttpGet"/>
				<remove name="HttpPostLocalhost"/>
				<remove name="Documentation"/>
				<remove name="Unknown"/>
			</protocols>
			<soapExtensionImporterTypes>
				<add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</soapExtensionImporterTypes>
			<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</webServices>

	</system.web>

	<microsoft.web.services3>
		<security>
			<securityTokenManager>
				<add type="Hidistro.UI.Web.HiUsernameTokenManager,Hidistro.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
			</securityTokenManager>
			<timeToleranceInSeconds value="3600" />
		</security>
		<policy fileName="wse3policyCache.config"/>
	</microsoft.web.services3>

</configuration>